<div class="progress" style="height: 1px;">
    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand text-light">{{ actual }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/usuarios">
                    <i class="fa fa-user" aria-hidden="true"></i> Usuarios
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/clientes">
                    <i class="fa fa-user" aria-hidden="true"></i> Clientes
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/zonas">
                    <i class="fa fa-archway" aria-hidden="true"></i> Zonas
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/sucursales">
                    <i class="fa fa-archway" aria-hidden="true"></i> Sucursales
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/envios">
                    <i class="fa fa-tasks" aria-hidden="true"></i> Envíos
                </a>
            </li>
        </ul>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Perfil
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item encima" href="#">Mi Perfil</a>
                <a class="dropdown-item encima" href="#">Configuración</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item encima" role="button" (click)="salir()">Cerrar Sesión</a>
            </div>
        </div>
    </div>
</nav>