<app-header actual="Zonas"></app-header>
<div class="container mt-3">
    <div class="card mb-3">
        <div class="card-header animated fadeInDown fast">
            <div class="row">
                <div class="col-6">
                    <app-search (buscar)="busqueda( $event )"></app-search>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-lg float-right" data-toggle="modal"
                        data-target="#staticBackdrop"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="puntero" (click)="ordenada='nombre'">Nombre</th>
                        <th scope="col" class="puntero" (click)="ordenada='clave'">Clave</th>
                        <th scope="col" class="puntero" (click)="ordenada='telefono'">Telefono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-toggle="modal" data-target="#staticBackdrop"
                        *ngFor=" let zone of zonas | orderBy: 'asc | desc': ordenada | paginacion: pageSize: pageNumber | buscar: filtro; let i = index">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ zone.nombre }}</td>
                        <td>{{ zone.clave }}</td>
                        <td>{{ zone.telefono }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="zonas.length" [(page)]="pageNumber"
        [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>

    <!-- <mat-paginator [length]="zonas.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions"
        (page)="paginar( $event )" showFirstLastButtons>
    </mat-paginator> -->
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Datos de la Zona</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputNombre">Nombre</label>
                            <input type="text" class="form-control" id="inputNombre">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputClave">Clave</label>
                            <input type="text" class="form-control" id="inputClave">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputTelefono">Telefono</label>
                            <input type="text" class="form-control" id="inputTelefono">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-6">
                    <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                </div>
                <button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-success"><i class="fa fa-save"></i></button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>