<app-header actual="Clientes"></app-header>
<div class="container mt-3">
    <div class="card mb-3">
        <div class="card-header animated fadeInDown fast">
            <div class="row">
                <div class="col-6">
                    <app-search (buscar)="busqueda( $event )"></app-search>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-lg float-right" data-toggle="modal"
                        data-target="#staticBackdrop"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="puntero" (click)="ordenada='nombreCompleto'">Nombre</th>
                        <th scope="col" class="puntero" (click)="ordenada='telefono'">Telefono</th>
                        <th scope="col" class="puntero" (click)="ordenada='curp'">CURP</th>
                        <th scope="col" class="puntero" (click)="ordenada='tipo'">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-toggle="modal" data-target="#staticBackdrop"
                        *ngFor="let client of clientes | orderBy: 'asc | desc': ordenada | paginacion: pageSize: pageNumber | buscar: filtro; let i = index">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ client.nombreCompleto }}</td>
                        <td>{{ client.telefono }}</td>
                        <td>{{ client.curp }}</td>
                        <td>{{ client.tipo }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="clientes.length" [(page)]="pageNumber"
        [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>

    <!-- <mat-paginator [length]="clientes.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="paginar( $event )" showFirstLastButtons>
    </mat-paginator> -->
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Datos del Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="inputNombre">Nombre</label>
                        <input type="text" class="form-control" id="inputNombre">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputPaterno">Ap Paterno</label>
                            <input type="text" class="form-control" id="inputPaterno">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputMaterno">Ap Materno</label>
                            <input type="text" class="form-control" id="inputMaterno">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCurp">CURP</label>
                            <input type="text" class="form-control" id="inputCurp">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputTelefono">Telefono</label>
                            <input type="text" class="form-control" id="inputTelefono">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDireccion">Direccion</label>
                        <input type="text" class="form-control" id="inputDireccion"
                            placeholder="Calle #11 Col. Colonia">
                    </div>
                    <div class="form-group">
                        <label for="inputMunicipio">Municipio</label>
                        <input type="text" class="form-control" id="inputMunicipio" placeholder="Ej: Oaxaca de Juárez">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputTipo">Tipo</label>
                            <select id="inputTipo" class="form-control">
                                <option value="">Seleccione...</option>
                                <option value="1">Nacional</option>
                                <option value="2">Extranjero</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-6">
                    <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                </div>
                <button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-success"><i class="fa fa-save"></i></button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>