<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
    <input class="form-control" type="search" placeholder="Buscar..." aria-label="Search"
        aria-describedby="basic-addon1" [formControl]="buscar" spellcheck="false" autocomplete="none">
</div>