<app-header actual="Envíos"></app-header>
<div class="container mt-3">
    <div class="card mb-3">
        <div class="card-header animated fadeInDown fast">
            <div class="row">
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"
                                    aria-hidden="true"></i></span>
                        </div>
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-lg float-right" data-toggle="modal"
                        data-target="#staticBackdrop"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Remitente</th>
                        <th scope="col">Destinatario</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-toggle="modal" data-target="#modelId">
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr data-toggle="modal" data-target="#modelId">
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr data-toggle="modal" data-target="#modelId">
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr data-toggle="modal" data-target="#modelId">
                        <th scope="row">4</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr data-toggle="modal" data-target="#modelId">
                        <th scope="row">5</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="staticBackdropLabel">Datos del Envío</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <mat-horizontal-stepper [linear]="isLinear" #stepper>
                    <mat-step [stepControl]="firstFormGroup">
                        <form [formGroup]="firstFormGroup">
                            <ng-template matStepLabel>Remitente</ng-template>
                            <table class="example-full-width" cellspacing="0">
                                <tr>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Nombre</mat-label>
                                            <input matInput formControlName="firstCtrl" required>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Dirección</mat-label>
                                            <input matInput formControlName="firstCtrl" required>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Teléfono</mat-label>
                                            <input matInput #tel formControlName="firstCtrl" required>
                                            <mat-hint align="end">{{tel.value.length}} / 10</mat-hint>
                                        </mat-form-field>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Correo</mat-label>
                                            <input matInput [formControl]="emailFormControl"
                                                placeholder="Ex. pat@example.com">
                                            <mat-error
                                                *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                                Please enter a valid email address
                                            </mat-error>
                                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                                Email is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Municipio</mat-label>
                                            <input matInput formControlName="firstCtrl" required>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>N° Identificación</mat-label>
                                            <input matInput formControlName="firstCtrl" required>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                            <div>
                                <button class="float-right" mat-button matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup">
                        <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel>Destinatario</ng-template>
                            <table class="example-full-width" cellspacing="0">
                                <tr>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Nombre</mat-label>
                                            <input matInput formControlName="secondCtrl" required>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Correo</mat-label>
                                            <input matInput [formControl]="emailFormControl"
                                                placeholder="Ex. pat@example.com">
                                            <mat-error
                                                *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                                Please enter a valid email address
                                            </mat-error>
                                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                                Email is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Teléfono</mat-label>
                                            <input matInput #tel maxlength="10" placeholder="1231231231"
                                                formControlName="secondCtrl" required>
                                            <mat-hint align="end">{{tel.value.length}} / 10</mat-hint>
                                        </mat-form-field>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <mat-form-field>
                                            <mat-label>Teléfono fijo</mat-label>
                                            <input matInput #telfijo maxlength="10" placeholder="1231231231"
                                                formControlName="secondCtrl" required>
                                            <mat-hint align="end">{{telfijo.value.length}} / 10</mat-hint>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                            <div>
                                <button class="float-left" mat-button matStepperPrevious>Regresar</button>
                                <button class="float-right" mat-button matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="thirdFormGroup">
                        <form [formGroup]="thirdFormGroup">
                            <ng-template matStepLabel>Destino</ng-template>
                            <table class="example-full-width" cellspacing="0">
                                <tr>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Estado</mat-label>
                                            <input matInput formControlName="thirdCtrl" required>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Condado</mat-label>
                                            <input matInput formControlName="thirdCtrl" required>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Calle</mat-label>
                                            <input matInput formControlName="thirdCtrl" required>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                            <div>
                                <button class="float-left" mat-button matStepperPrevious>Regresar</button>
                                <button class="float-right" mat-button matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="fourthFormGroup">
                        <form [formGroup]="fourthFormGroup">
                            <ng-template matStepLabel>Contenido</ng-template>
                            <table class="example-full-width" cellspacing="0">
                                <tr>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Producto</mat-label>
                                            <input matInput formControlName="fourthCtrl" required>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Cantidad</mat-label>
                                            <input matInput formControlName="fourthCtrl" required>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Unidad de Medida</mat-label>
                                            <mat-select formControlName="fourthCtrl" [(value)]="unidadSelected">
                                                <mat-option>None</mat-option>
                                                <mat-option value="kg">Kilogramos</mat-option>
                                                <mat-option value="lts">Litros</mat-option>
                                                <mat-option value="lbs">Libras</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                            <div>
                                <button class="float-left" mat-button matStepperPrevious>Regresar</button>
                                <button class="float-right" mat-button matStepperNext>Finalizar</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Finalizado</ng-template>
                        <div class="text-center">
                            <p>Ha terminado de rellenar la nota</p>
                            <button mat-button color="primary" (click)="generarPDF()">Imprimir</button>
                        </div>
                        <div>
                            <button class="float-left" mat-button matStepperPrevious>Regresar</button>
                            <button class="float-right" mat-button (click)="stepper.reset()">Reiniciar</button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>

            </div>

        </div>
    </div>
</div>


<!-- Modal PDF
<div class="modal fade" id="modalPDF" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body" style="height: 100px;">
                <div class="row h-500 w-300 d-inline-block">
                    <div class="col-12" id='iframeContainer'></div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Modal -->
<div class="modal fade" id="modelId" data-backdrop="static"  tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Envío #</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item puntero">
                                <a class="nav-link" [ngClass]="{'active': pestana === 'remitente'}"
                                    (click)="pestana='remitente'">Remitente</a>
                            </li>
                            <li class="nav-item puntero">
                                <a class="nav-link" [ngClass]="{'active': pestana === 'destinatario'}"
                                    (click)="pestana='destinatario'">Destinatario</a>
                            </li>
                            <li class="nav-item puntero">
                                <a class="nav-link" [ngClass]="{'active': pestana === 'contenido'}"
                                    (click)="pestana='contenido'">Contenido</a>
                            </li>
                            <li class="nav-item puntero">
                                <a class="nav-link" [ngClass]="{'active': pestana === 'estatus'}"
                                    (click)="pestana='estatus'">Estatus</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="mb-3" *ngIf="pestana==='remitente'">
                            <div class="row">
                                <div class="col-6">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Nombre</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre"
                                            aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2">Teléfono</span>
                                        </div>
                                        <input type="phone" class="form-control" placeholder="Ej: 951 123 4567"
                                            aria-label="Direccion" aria-describedby="basic-addon2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3">Dirección</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Ej: Calle # Col."
                                            aria-label="Direccion" aria-describedby="basic-addon3">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon4">Municipio</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Ej: San Pablo Huixtepec"
                                            aria-label="Municipio" aria-describedby="basic-addon4">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon4">Correo</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Ej: ejemplo@mail.com"
                                            aria-label="Correo" aria-describedby="basic-addon4">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon5">Identificación</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Ej: 1234567890"
                                            aria-label="Identificacions" aria-describedby="basic-addon5">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3" *ngIf="pestana==='destinatario'">
                            <div class="row">
                                <div class="col-6">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon12">Zona</span>
                                        </div>
                                        <select class="form-control" aria-label="Unidad"
                                            aria-describedby="basic-addon12">
                                            <option>Zona1</option>
                                            <option>Zona2</option>
                                            <option>Zona3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon6">Nombre</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Ej: Juan Pérez"
                                            aria-label="Nombre" aria-describedby="basic-addon6">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon7">Correo</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Ej: ejemplo@mail.com"
                                            aria-label="Correo" aria-describedby="basic-addon7">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon8">Teléfono</span>
                                        </div>
                                        <input type="phone" class="form-control" placeholder="Ej: 951 123 4567"
                                            aria-label="Telefono" aria-describedby="basic-addon8">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon9">Teléfono Fijo</span>
                                        </div>
                                        <input type="phone" class="form-control" placeholder="Ej: 951 123 4567"
                                            aria-label="Fijo" aria-describedby="basic-addon9">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3" *ngIf="pestana==='contenido'">
                            <div class="row">
                                <div class="col-6">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon10">Producto</span>
                                        </div>
                                        <input type="text" class="form-control" aria-label="Producto"
                                            aria-describedby="basic-addon10">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon11">Cantidad</span>
                                        </div>
                                        <input type="number" class="form-control" aria-label="Cantidad"
                                            aria-describedby="basic-addon11">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon11">Unidad</span>
                                        </div>
                                        <select class="form-control" aria-label="Unidad"
                                            aria-describedby="basic-addon11">
                                            <option>Kilogramos</option>
                                            <option>Litros</option>
                                            <option>Libras</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3" *ngIf="pestana==='estatus'">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" (click)="generarPDF()"><i class="fa fa-print"></i></button>
                <button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-success"><i class="fa fa-save"></i></button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>